:root{

}

#main-container{
  background-color: burlywood;
  color: green;
  display:grid;
  width: 80vw;
  justify-content: center;
  margin: 0 auto;
}

#nav{
  border: solid red 2px;
}

#tab-bar{
  border:solid orchid 2px;
}
.task{
  display:grid;
  grid-template-columns: 20vw 40vw 15vw 5vw;
  border: solid black 2px;
}

.tab{
  border:solid purple 2px;
  height: 10px;
  width: 20px;
}