:root{
  --color1: rgb(188, 139, 192);
  --color2: rgba(70, 29, 66, 0.85);
  --color3: rgb(228, 209, 228);

}

#main-container{
  //background-color: var(--color3);
  color: var(--color2);
  display:grid;
  width: 80vw;
  justify-content: center;
  margin: 0 auto;
  border: none;
}

#nav{
  //border: solid var(--color2) 2px;
  //border-radius: 10px 25px 0px 0px;
  //background-color: var(--color3);
  border-bottom: 0;


}

#title-bar{
  display:grid;
  grid-template-columns:  1fr .5fr .5fr 5vw;
  border: solid var(--color2) 2px;
  border-radius: 0px 25px 0px 0px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  background-color: var(--color3);
  display:grid;
  align-content: center;
  //border-right:none;

}

// TABS

#tab-bar{
  //border:solid orchid 2px;
  display:flex;
}
#new-tab-button{
  border-radius: 1vw;
  border: 0;
  //background-color: var(--color1);
  color: var(--color2);
  height: 3vw;
  //width: 20px;
  align-self: center;
  margin: 5px;
}
.tab{
  border:solid var(--color2) 2px;
  border-radius: 30px 30px 5px 5px;
  padding-right: 10px;
  padding-left: 5px;
  height: 25px;
  line-height: 30px;
  width: 50px;
  margin-right: 5px;
  text-align: center;
}

// TASKS

.task{
  display:grid;
  grid-template-columns: 3vw 1fr .5fr .5fr 5vw;
  border: solid var(--color2) 2px;
  border-top: 0;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--color3);
  align-content: center;
  width: 80vw;
}

.task-item{

  border-radius: 5px;
  padding: 5px;
  color: var(--color2);
  background-color: var(--color3);
  margin: 1px;
  border: solid var(--color3) 1px;

}

.inTab{
  display:none;
}

.name{
  text-align: left;
  width: 20vw;
}
.desc{
  display:none;
  text-align: left;
  width: 1fr;
  grid-row-start:2;
  grid-column: 1/4;
  //padding:0;
  word-wrap: break-word;
  
}

 .show-desc{
  display: inline;
  //padding: 5px;
 }
 .editing{
  //background-color: white;
  border: solid var(--color2) 1px;

 }

.due{
  text-align: center;
  width: 20vw;
}
.priority{
  text-align: center;
  width: 20vw;
}


.task-menu-button{

  width: MIN(30px, 5vw);
  border:none;
  border-radius: 1vw;
  background-color: var(--color3);
  color: var(--color2);
  display:flex;

  img{
    //height:20px;
    width: MIN(20px, 3vw);
    //border: solid red 2px;
    object-fit: cover;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#new-task-btn{
  height: 30px;
  background-color: var(--color3);
  border: solid var(--color2) 2px;
  border-top: 0;
  border-radius: 0px 0px 20px 50px;
}

.task-menu-popup{
  border:solid var(--color2) 2px;
  border-radius: 10px;
  background-color: var(--color3);
  width:100px;
  height:100px;
  right: 50px;
  position:absolute;
  display:none;
}

.task-edit-popup-btn{
  background-color: var(--color3);
  border: none;
  border-radius: 10px;
}
